# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data & logs
data/
logs/
*.log

# Virtual environments (exclude from all deployments)
venv/
env/
.venv/
.env/
test-env/
venv-lite/
**/venv/
**/env/
**/.venv/
te
# Azure specific
.azure/
*.zip
.deployment
deploy.cmd
local.settings.json

# Docker
.dockerignore

# Jupyter Notebooks
.ipynb_checkpoints/

# Test & coverage
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

#